Technical_Analyst/Technical_Analyst.json
{
  "name": "Technical Analyst",
  "nodes": [
    {
      "parameters": {
        "name": "getChart",
        "description": "Call this tool to get an analysis of a requested stock. The URL that is output from this tool must be returned in markdown format. For example, ![](url)",
        "workflowId": {
          "__rl": true,
          "value": "Z0tvocbfCmqgEWDS",
          "mode": "list",
          "cachedResultName": "🛠️Get & Analyze Chart"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        540,
        340
      ],
      "id": "7c430a99-167a-409d-b2bb-6085063b7122",
      "name": "Get Chart"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"body\"][\"query\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Your role is to take input from webhook and act like my assistant. \nToday's date is: \n\n{{ DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd HH:mm:ss')}}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        120
      ],
      "id": "573eb5eb-3796-45cf-9a55-3926873a88f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## AI Agent\n",
        "height": 520,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "c64964c3-ee47-4145-b206-5e9849e8961e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Chart & Technical Analysis Workflow",
        "height": 240,
        "width": 1580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        640
      ],
      "typeVersion": 1,
      "id": "897b2471-5c22-41d4-a1a8-a976f5733ded",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        720
      ],
      "id": "747dac82-8a53-4ced-8f1d-5a036374bd3b",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdf7e016-7082-4146-9038-454139023990",
              "name": "response",
              "value": "={{ $('Technical Analysis').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        720
      ],
      "id": "c993432b-3bbd-4a6c-b6a6-e2441c55f624",
      "name": "response"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=# Role\n\nYou are an expert financial analyst specializing in technical analysis of stock charts. Your role is to analyze financial charts provided to you and offer comprehensive insights into the technical aspects, including candlestick patterns, MACD indicators, volume trends, and overall market sentiment. You must provide a detailed breakdown of the chart, highlighting key areas of interest and actionable insights.\n\nWhen analyzing a stock chart, always include the following:\n\n1. **Candlestick Analysis**:\n   - Identify and explain any significant candlestick patterns (e.g., bullish engulfing, doji, hammer).\n   - Comment on the overall trend (bullish, bearish, or sideways).\n   - Highlight any breakout or pullback zones.\n\n2. **MACD Analysis**:\n   - Describe the current state of the MACD line and Signal line (e.g., bullish crossover, bearish crossover).\n   - Discuss the MACD histogram and its implications for momentum.\n   - Identify any divergences between the MACD and the price action.\n\n3. **Volume Analysis**:\n   - Highlight any significant changes in trading volume.\n   - Explain how volume supports or contradicts price movements.\n   - Indicate any unusual spikes in volume that may suggest institutional activity.\n\n4. **Support and Resistance Levels**:\n   - Identify key support and resistance zones based on the chart.\n   - Discuss the importance of these levels for potential reversals or breakouts.\n\n5. **Actionable Insights**:\n   - Provide clear guidance on potential buy, sell, or hold strategies.\n   - Suggest what to watch for in the near term, including confirmation signals or potential risks.\n\n6. **Other Observations**:\n   - Note any patterns or indicators that are relevant to the analysis.\n   - Offer insights into market sentiment or other broader trends based on the chart.\n\nBe clear, concise, and data-driven in your analysis. Your goal is to provide actionable information that traders and investors can use to make informed decisions. Always explain your reasoning for any conclusions you draw from the chart.\n",
        "inputType": "base64",
        "simplify": false,
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        720
      ],
      "id": "a7be3620-8384-49b6-b586-17a52e0282fe",
      "name": "Technical Analysis",
      "credentials": {
        "openAiApi": {
          "id": "6Re9AbELOTtpXMEQ",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        720
      ],
      "id": "90c3fc19-d048-41b9-b70a-a1dec0097094",
      "name": "Download Chart"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "SEhgEMTCeZ49YyDB9LllS8sL1nS6Fse9acPjtjWW"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"NASDAQ:MSFT\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        720
      ],
      "id": "1b7b3717-f6b9-471c-8e75-944a3fe4244d",
      "name": "Get Chart URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf5f7210-5b54-4f4a-abf7-87873be82df4",
              "name": "ticker",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        720
      ],
      "id": "aa5993f0-2aeb-43be-8aec-18bd31abb0f6",
      "name": "Set Ticker"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        340
      ],
      "id": "73cc9bbc-d709-4500-bdf3-22a7fedd1271",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6Re9AbELOTtpXMEQ",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7a841ec-135f-470d-96e7-9b6d3f432eaf",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        40
      ],
      "id": "91b86ef0-9eff-4262-960e-69a1a6f1e656",
      "name": "Webhook",
      "webhookId": "e7a841ec-135f-470d-96e7-9b6d3f432eaf"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        340
      ],
      "id": "238df57b-96be-4780-bf3a-a37f299da7cd",
      "name": "Window Buffer Memory"
    }
  ],
  "pinData": {
    "Workflow Input Trigger": [
      {
        "json": {
          "query": "test stock ticker"
        }
      }
    ]
  },
  "connections": {
    "Get Chart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Set Ticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Analysis": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Chart": {
      "main": [
        [
          {
            "node": "Technical Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chart URL": {
      "main": [
        [
          {
            "node": "Download Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticker": {
      "main": [
        [
          {
            "node": "Get Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37b9d23c-386f-461a-8e2b-01d49ed1807e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aab6df8bf8bcc278e387609c773b68c6e56f01fe48e3a6632c9c246229b2a428"
  },
  "id": "UOtyGdF7aej04rLl",
  "tags": []
}